---
import { rem } from "@util/units/rem";

/** Space component to add unused space */
interface Props {
  space: number;
}

const { space } = Astro.props;
---

<div class="space"></div>
<style
  lang="sass"
  define:vars={{
    space: rem(space),
  }}
>
  .space
    height: var(--space)
</style>
